
header{
    height: 10vh;
    width: 100%;
    background: rgb(214, 214, 214);
    position: relative;
}

header> h1{
    color: gray;
    font-size: 40px;
    font-weight: lighter;
    font-family:'Helvetica';
    position: absolute;
    left: 10px;
}

.menu{
    height: 15vh;
}
.menu >table{
    width: 100%;
    border: 1px solid white;
}
.menu> table >tbody >tr > td{
    text-align: center;
    font-size: 20px;
    background: rgb(124, 207, 14);
    color: white;
    font-family:'Helvetica';
    border: 2px solid white; 
}
.menu> table >tbody >tr > th{
    text-align: center;
    font-size: 20px;
    background: rgb(122, 122, 122);
    color: white;
    font-family:'Helvetica';
    border: 2px solid white;
}
